#post {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-botton: 30px;
  margin-top: 30px;
}


.postdate {
	font-size: 8px;
	float: right;
}

.site {
	.meta {
    	color: #aaa;
  	}
  	.title {
  		background: orange;
  		border: 1px;
  		font-size: 20px;
  		padding-left: 40px;
  	}
	.footer {
	    font-size: 80%;
	    color: #666;
	    border-top: 4px solid #eee;
	    margin-top: 2em;
	    overflow: hidden;
		.contact {
		  float: left;
		  margin-right: 3em;
		  a {  color: #8085C1; }
		}
		.rss {
		  margin-top: 1.1em;
		  margin-right: -.2em;
		  float: right;
		  img {
 			   border: 0;
			}
		}
	  }
}

#related {
  margin-top: 2em;
  h4, h5 {
    margin-bottom:-10px;
  }
}

#comments {
	h2 {
		visibility:hidden;
		font-size: 14pt;
	}
}

#dsq-reply h3 {
		font-size: 14pt;
}
#dsq-content h3 {
		font-size: 14pt;
}
.dsq-brlink, .dsq-subscribe-rss {
	visibility:hidden;
}
