<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="{{ site.baseurl}}/stylesheets/screen.css" type="text/css" />
    {% if site.feedburner %}
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    {% endif %}
    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>

<div class="adwords" >
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-6962602071866366";
  /* CodeSafe */
  google_ad_slot = "2277394323";
  google_ad_width = 160;
  google_ad_height = 600;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>

<div class="site">
  <div class="title">
    <a href="{{site.baseurl}}/">{{site.title}}</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://github.com/{{ site.github.username }}/">github.com/{{ site.github.username }}</a><br />
        <a href="http://twitter.com/{{ site.github.username }}/">twitter.com/{{ site.github.username }}</a><br />
      </p>
    </div>
  </body>
</html>
